<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<div th:fragment="incloud_frame">
	<title>API Documentation</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel="stylesheet" type="text/css" href="../../static/css/main.css"
		th:href="@{/static/css/main.css}" />
	<link rel="stylesheet" type="text/css"
		href="../../static/css/alistyle-v2.css"
		th:href="@{/static/css/alistyle-v2.css}" />
	<script src="../../static/js/jquery.min.js"
		th:src="@{/static/js/jquery.min.js}"></script>

</div>

<div class="logo_menu" th:fragment="logo_menu">
	<span>Project Sponsor :
		Jerry.Hu、Jail.Hu、Huisman.Liu、Charles.Xu、Lucifer.Han</span> <span class="menu">
		<a href="/books/microservice-practise/parts/chapter2/doc-auto.html">文档自动生成:
			How？</a>
	</span>
</div>

<div class="left_container" th:fragment="catalog">
	<h2 class="text_indent2 border_bottom title">API Summary</h2>
	<ol class="parent">
		<li th:each="app : ${apps}"><a
			th:href="'#'+${app.original.appName}" href="#serice-name"
			th:class="${app.id == currentApp.id ? 'active' : ''}"><i
				class="triangle"></i><span th:text="${app.original.appName}"></span>
				<span class="app_buildAt"
				th:text="${#dates.format(app.original.lastBuildAt, 'yyyy-MM-dd')}"></span> </a>
			<ol class="son"
				th:style="${app.id == currentApp.id ? '' : 'display: none;'}">
				<li><a th:title="'export'+${app.original.appName}+'to Postman'"
					th:href="@{/v1/doc/export/{appId}/postman(appId=${app.id})}"
					th:class="${app.id == currentApp.id and 'postman' eq routing ? 'active' : ''}"><span
						th:text="'Export to Postman'"></span></a></li>
				<li><a
					th:href="@{/v1/doc/{appId}/projectInfo(appId=${app.id})}"
					th:class="${(app.id == currentApp.id  and 'projectInfo' eq routing) ? 'active' : ''}">Project
						Document </a></li>
				<li th:each="cla: ${app.restClasses}"><a
					th:href="'#'+${cla.original.summary}" href="#service name"
					th:class="${restClass.id == cla.id ? 'active' : ''}"><i
						th:class="${#maps.size(cla.methodMap) > 0 ? 'triangle' :''}"></i><span
						th:text="${cla.original.summary}">rest class</span></a>
					<ol class="grandson"
						th:style="${restClass.id == cla.id ? '' : 'display: none;'}"
						th:if="${#maps.size(cla.methodMap) > 0}">
						<li th:each="version : ${cla.methodMap}"><a
							href="#api version"
							th:title="${version.key}+'.'+${mt.original.summary}"
							th:class="${method.id == mt.id ? 'active' : ''}"
							th:each="mt : ${version.value}"
							th:href="@{/v1/doc/{appId}/{restClassId}/{methodId}
                                           (appId=${app.id},restClassId=${cla.id},
                                           methodId=${mt.id})}">
								<span th:utext="${version.key}+'.'+${mt.original.summary}">api
									version</span>
						</a></li>
					</ol></li>
			</ol></li>
	</ol>
</div>


<div class="footer" th:fragment="footer">
	<div class="main_container">
		<div class="footer-level">
			<ul>
				<li><span href="#" title="">GitHub:<a href="#"
						target="_blank">https://github.com/huisman6/apidoclet</a></span></li>
			</ul>
			<div class="clearfix"></div>
		</div>
	</div>
</div>

</html>
