* {
    margin: 0px;
    padding: 0px;
}

html {
    height:100%;
}
body{
    width:100%;
    height:100%;
    overflow: hidden;
    background-color: #666;
}
/*背景容器*/
.main-container {
    width: 100%;
    height: 100%;
    background-image: url("../imgs/default.jpg");
    background-size: cover;
}
#vid{
    display: none;
}
/*简介容器*/
.detail-container{
    position: absolute;
    top:0px;
    width: 440px;
    right: -440px;
    height: 100%;
    overflow-x: hidden;
    background-color: rgba(0,0,0,.8);
    color: #FFF;
}
/*icon按钮*/
.icon-btn{
    width: 40px;
    height: 40px;
    margin: 0px 10px;
    background: transparent url('../imgs/icons.png') no-repeat;
    cursor: pointer;
}
.icon-btn:hover{
    width: 42px;
    height: 42px;
    color: #000;
    margin:-1px 9px;
    background-position-x: 0px;
}
/*视频*/
.icon-video{
    display: none;
    background-position: 0px -378px;
}
.icon-video:hover{
    background-position-x: -252px;
}
.pause{
    background-position: 0px -336px;
}
.pause:hover{
    background-position-x: -252px;
}
/*上一图片*/
.icon-left{
    background-position: 0px -84px;
}
.icon-left:hover{
    background-position-x:  -252px;
}
/*下一图片*/
.icon-right{
    background-position: 0px -126px;
}
.icon-right:hover{
    background-position-x:  -252px;
}
/*简介*/
.icon-font{
    background-position: 0px -42px;
}
.icon-font:hover{
    background-position-x: -252px;
}
/*icon操作栏*/
.icon-foot{
    position: absolute;
    bottom: 0;
    width: 100%;
    height:90px;
}
.icon-foot-right{
    right: 10px;
    position: absolute;
    z-index: 1;
}
.icon-foot-right a{
    float: left;
    position: relative;
    z-index: 20;
}